# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage reports
coverage/

# Environment variables
client/.env
server/.env

# Build output
dist/
build/
.next/
out/
client/dist/
client/build/
server/dist/
server/build/

# Node modules
client/node_modules/
server/node_modules/

# Local database files
*.sqlite
*.db

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
